# python caches
__pycache__
*.py[cod]
*.pyo
*.pyd
*.so

# virtualenvs
.venv
venv
env

# env & secrets
.env
.env.*
*.log

# git / editor / OS junk
.git
.github
.vscode
.idea
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# build/test artifacts
dist
build
*.egg-info
tests